.login-container {
  position: fixed;
  width: 250px;
  height: 250px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
}

.login-container input {
  width: 100%;
}

.login-container label {
  width: 100%;
  text-align: center;
}

.login-container button {
  width: 100%;
}
